# ___Sampling Methods___

#### Sampling : 
- Sampling is a process used in statistical analysis in which a predetermined number of observation are taken from large population.

### __1-Simple sampling__

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(5000,4) , columns=list('ABCD'))

In [3]:
# in normal dataframe the indexing is normal like 0,1,2,3,.......
df.head()

          A         B         C         D
0  0.782874  0.669383  0.533698  0.787701
1  0.376484  0.429289  0.942749  0.569338
2  0.729226  0.100042  0.942182  0.893255
3  0.359902  0.047024  0.096471  0.766093
4  0.082408  0.376311  0.167680  0.626415

In [4]:
# in sample dataframe randomly data has been choosen from whole data
sample_df=df.sample(10)
sample_df

             A         B         C         D
4176  0.638474  0.776925  0.346634  0.811623
659   0.286560  0.845645  0.029606  0.957845
2693  0.378330  0.320822  0.037712  0.420864
2521  0.167396  0.205410  0.898040  0.601663
315   0.370205  0.117774  0.861765  0.289090
4672  0.472213  0.681251  0.815891  0.255236
2754  0.070942  0.175095  0.021533  0.444972
4877  0.127820  0.687634  0.505585  0.884363
432   0.166952  0.945790  0.428464  0.370106
3659  0.884770  0.670146  0.535333  0.089485

In [5]:
sample_df.shape

(10, 4)

### __2-Stratified sampling__
- It is a type of sampling in which data is divided into small subgroups know as __strata__

In [9]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
X,y = load_iris(return_X_y=True)
X_train , X_test , y_train , y_test = train_test_split(X,y, stratify=y , test_size=0.2)
X_train.shape

(120, 4)

### __3-Reservoir sampling__
- It is a type of sampling which select a family of randomized algorithms for randomly choosing k samples.

# __Undersampling and oversampling__

In [21]:
from sklearn.datasets import make_classification
X , y = make_classification( n_classes=2 , class_sep=1.5 , weights=[0.9,0.1] , 
                            n_informative = 3 , n_redundant=1 , flip_y=0, 
                            n_features=20 , n_clusters_per_class=1 , n_samples=100 , random_state=20)
X=pd.DataFrame(X)
X['target'] = y

#### We can do random __undersampling__ and __oversampling__ :

In [37]:
num_0 = len(X[X['target']==0])
num_1 = len(X[X['target']==1])
print(num_0 , num_1)
# Random Undersampling
# in undersampling less one data is being doubling (10 IN OUR CASE)
undersampled_data = pd.concat([ X[X['target']==0].sample(num_1) , X[X['target']==1] ] ) 
print(len(undersampled_data))
# Random Overrsampling
# in Overrsampling greater one data is being doubling (90 IN OUR CASE)
oversampled_data = pd.concat([ X[X['target']==0] , X[X['target']==1].sample(num_0 , replace=True) ] ) 
print(len(oversampled_data))

90 10
20
180